<!-- <div class="test" *ngFor="let card of buyDeck | slice: 0:4">
  <app-card [card]="card | converter"></app-card>
</div>
...
<div class="test" *ngFor="let card of buyDeck | slice: -4">
  <app-card [card]="card | converter"></app-card>
</div> -->

<div class="container">
<h1>Current player {{ gameStats.current }}</h1>
</div>

<div class="container">
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="example-list"
    [cdkDropListData]="aiCards"
    (cdkDropListDropped)="drop2($event)"
    [cdkDropListConnectedTo]="discardList"
    [cdkDropListDisabled]="gameStats.current !== 1"
    #aiCardList="cdkDropList"
  >
    <div class="example-box" *ngFor="let card of aiCards" cdkDrag>
      <app-card [card]="card | converter"></app-card>
    </div>
  </div>
</div>

<div>
  <div
    cdkDropList
    [cdkDropListData]="buyDeck"
    (cdkDropListDropped)="drop3($event)"
    #buyList="cdkDropList"
    [cdkDropListConnectedTo]="[myCardList, aiCardList]"
    class="mat-h1 buy-deck"
  >
    <div class="example-box buy-deck" cdkDrag>
      <span matBadge="{{buyDeck.length}}">🂠</span>
    </div>
  </div>

  <div
    cdkDropList
    class="example-list"
    [cdkDropListData]="discardDeck"
    (cdkDropListDropped)="drop2($event, true)"
    #discardList="cdkDropList"
    [cdkDropListConnectedTo]="[myCardList, aiCardList]"
  >
    <div class="example-box" *ngIf="discardDeck.length > 0;else elseBlock" cdkDrag>
      <app-card
        [card]="discardDeck[discardDeck.length - 1] | converter"
      ></app-card>
    </div>
    <ng-template #elseBlock>Discard cards here.</ng-template>

  </div>
</div>

<div class="container">
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="example-list"
    [cdkDropListData]="myCards"
    (cdkDropListDropped)="drop2($event)"
    [cdkDropListConnectedTo]="discardList"
    [cdkDropListDisabled]="gameStats.current !== 0"
    #myCardList="cdkDropList"
  >
    <div class="example-box" *ngFor="let card of myCards" cdkDrag>
      <app-card [card]="card | converter"></app-card>
    </div>
  </div>
</div>



<button (click)="shuffleDeck(buyDeck)">Shuffle</button>

<button (click)="buy()">Buy</button>

<button (click)="pass()">Pass</button>

<!-- <button (click)="finishTurn()">Finish Turn</button> -->
